<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="GardenLawn_LogViewer::log_viewer"
            title="Logs" module="GardenLawn_LogViewer"
            sortOrder="1"
            parent="Magento_Backend::system_tools" action="logviewer/log/index"
            resource="GardenLawn_LogViewer::log_viewer"
        />
    </menu>
</config>
